@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* Conmebol Copa America 2021 */
body {
    position: relative;
    background: #FFFFFF;
}

#first-pic {
    width: 1250px;
    height: 577px;
    background: #2D25A0;
}

#short-text {
    position: absolute;
    width: 485px;
    height: 230px;
    left: 151px;
    top: 107px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    /* or 125% */
    color: #FFFFFF;
}

#artical-link {
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    background-color: tomato;
    border: 1px solid;
    border-color: tomato;
    padding: 2px;
}

#artical-link:hover {
    background-color: greenyellow;
    color: darkslategrey;
    border-radius: 5px;
}

.football {
    width: 556.01px;
    height: 438px;
    margin-left: 670.01px;
    margin-top: 120px;
}

/* Auto Layout */

.players-albam {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

/* Auto Layout */

.players-naymer {
    display: flex;
    flex-direction: column;
    /* margin: 30px 30px 10px 120px; */
    padding: 3px 3px 3px 3px;
    border: 1px solid #ccc;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-lionel {
    display: flex;
    flex-direction: column;
    /* margin: 30px 30px 10px 10px; */
    padding: 3px 3px 3px 3px;
    border: 1px solid #ccc;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-cristiano {
    display: flex;
    flex-direction: column;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 30px 30px 10px 10px; */
    padding: 3px 3px 3px 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-paulo {
    display: flex;
    flex-direction: column;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 10px 30px 10px 120px; */
    padding: 3px 3px 3px 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-mesut {
    display: flex;
    flex-direction: column;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 10px 30px 10px 10px; */
    padding: 3px 3px 3px 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-mauro {
    /* /* Auto Layout  */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 10px 30px 10px 10px; */
    padding: 3px 3px 3px 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

    /*  Inside Auto Layout  */
}

.players-maria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 30px 30px 10px 120px; */
    padding: 3px 3px 3px 3px;
    /* /* Inside Auto Layout  */
}

.players-kylian {
    /* /* Auto Layout  */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    /* margin: 30px 10px 10px 10px; */
    padding: 3px 3px 3px 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

    /* /* Inside Auto Layout  */
}

/* /* Auto Layout  */
.players-mohamed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    position: static;
    border: 1px solid #ccc;
    padding: 3px 3px 3px 3px;
    /* margin: 30px 10px 10px 10px; */
}

.photo img {
    width: 100%;
}

.fantesty-container {
    margin-top: 5%;
} 

.fantesty{
display: flex;
}

.second-part img {
    width: 550px;
    height: 470px;
    display: flex;
    flex-direction: row;
}

.second-blogs{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.last-picture {
    /* Auto Layout */
    display: block;
    margin: 2% auto;
    width: 50%;  
}


footer{
    margin-top: -19%;
}
.social-icon {
    /* Auto Layout */
    position: static;
    width: 170px;
    height: 40px;
    margin: 20px auto; 
}

.copy {
    text-align: center;
    margin-top: 300px
}

.fa-facebook {
    margin: 5px;
}

.fa-dribbble {
    margin: 5px;
}

.fa-twitter-square {
    margin: 5px;
}

.fa-youtube {
    margin: 5px;
}



@media only screen and(min-width:768px) and (max-width:992px) {

    #first-pic {
        display: flex;

    }
   

}